:root {
  font-size: 14px;
}
* {
  margin: 0;
  color: lightgray;
  line-height: 1.5rem;
}
body {
  font-family: "IBM Plex Mono", monospace;
  background-color: navy;
  padding: 0.5rem;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h4 {
  font-size: 1rem;
}
h1 {
  margin-bottom: 1rem;
}
h2 {
  margin: 0;
}
h4 {
  margin-top: 1rem;
}
ul {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}
button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  padding: 0;
  text-decoration: underline;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}
main {
  margin: 1rem 0;
}
.error,
.error * {
  color: darkred;
}
.repo-loader {
  margin-right: 0.5rem;
}
.meta {
  color: gray;
}
.repo-header > *:not(:last-child) {
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  body {
    padding: 1rem;
  }
  .repo-header {
    display: flex;
    align-items: flex-end;
  }
}
