html {
  --main-color: hsl(0, 0%, 27%);
  --main-light-color: hsl(0, 0%, 47%);
  --main-lighter-color: hsl(0, 0%, 67%);
  --link-color: var(--main-color);
  --link-light-color: var(--main-light-color);
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--main-color);
  font-size: 16px;
}
header {
  padding-top: 4rem;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}
nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  position: sticky;
  position: --webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding: 1.5rem 0;
}
nav a,
h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--link-lighter-color);
  transition: all 0.5s;
  text-decoration: none;
}
nav a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: var(--link-light-color);
  text-decoration: none;
}
nav a {
  margin: 0 0.5rem;
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5rem;
  padding-bottom: 2.5rem;
}
h2 {
  margin: 4rem 0;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}
h3 {
  font-family: "IBM Plex Mono", monospace;
}
h3 a {
  color: var(--main-color);
  text-decoration: none;
}
section {
  padding-top: 1rem;
}
main,
footer {
  max-width: 490px;
  padding: 2rem;
  margin: 0 auto;
}
footer {
  padding-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: var(--main-light-color);
}
a {
  text-decoration: none;
  /* color: var(--link-light-color); */
  transition: all 0.5s;
}
a:hover {
  text-decoration: underline;
  /* color: var(--link-color); */
}
p {
  line-height: 1.75;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#projects ul li {
  margin: 4rem 0;
}
#projects > ul > li > a {
  grid-area: img;
}
#projects > ul > li > a:hover img {
  background-color: var(--main-lighter-color);
  opacity: 0.75;
}

#projects > ul > li img {
  box-sizing: border-box;
  top: 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--main-lighter-color);
  padding: 4px;
  transition: all 0.5s;
}
#projects > ul > li > h3 {
  grid-area: title;
}
#projects > ul > li > p {
  grid-area: description;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}
#projects > ul > li > ul {
  grid-area: links;
  display: flex;
}
#projects > ul > li > ul > li {
  margin: 0 0.25rem 0 0;
  font-size: 0.85rem;
}
#contact {
  text-align: center;
}
#contact > ul > li {
  margin-bottom: 2rem;
}
#contact > ul > li > p {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  font-weight: bold;
}
#contact > p {
  margin-bottom: 2rem;
}
#contact > p:nth-child(5) {
  margin-top: 4rem;
}
#contact > div {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 560px) {
  body {
    font-size: 18px;
  }
  h3 {
    margin: 0;
  }
  #projects ul li {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 45% 1fr;
    grid-template-areas: "img title" "img description" "img links";
  }
}
