.header {
  text-transform: uppercase;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header.loading {
  min-height: 100vh;
}

.header.loaded {
  animation: slide-up 2s ease-in-out;
}

.title.loading {
  margin: 0;
}

.title {
  margin: calc(2rem + 5vh) 0 0.5rem;
  padding-left: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.loadingBox.loading {
  border: none;
  margin: 0;
}

.loadingBox {
  border-bottom: 0.15rem solid white;
  margin-bottom: 1rem;
  animation: grow 2s ease-in-out;
}

@keyframes slide-up {
  0% {
    min-height: 100vh;
  }
  100% {
    min-height: calc(2rem + 5vh);
  }
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
