.header {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.title {
  margin: calc(2rem + 5vh) 0 0.5rem;
  padding-left: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.loadingBox {
  border-bottom: 2px solid white;
  animation: grow 1s ease-in-out;
  margin-bottom: 1rem;
}

.loadingBox.loading {
  border: none;
  margin: 0;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
