.header {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.title {
  margin: calc(2rem + 5vh) 0 1rem;
  padding: 0 0 0.5rem 0.5rem;
  border-bottom: 1px solid white;
  font-weight: 700;
  letter-spacing: .5rem;
}

.loading {
  border: none;
}
