.loaded {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  min-height: 100vh;
}

.loading {
  composes: loaded;
  animation: appear 1s linear, loading 2s linear infinite 1s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.85;
  }
}
@keyframes loading {
  0%,
  100% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.45;
  }
}
