.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loaded {
  animation: appear 1s linear;
}

.loading {
  animation: loading 2s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.85;
  }
}
