.loaded {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  min-height: 100vh;
}

.loading {
  composes: loaded;
  animation: loading 2s ease-in-out infinite;
}

@keyframes loading {
  0%,
  100% {
    opacity: 0.45;
  }
  50% {
    opacity: 0.05;
  }
}
