body {
  margin: 0;
  font-family: 'IBM Plex Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  padding: 0 1rem;
}

h2 {
  padding: 2rem 0;
}

a {
  color: white;
  text-underline-position: under;
}
