html {
  scroll-behavior: smooth;
  font-size: calc(10px + 2vmin);
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
  padding: 0 1rem;
}

a {
  color: white;
  text-underline-position: under;
}

section {
  margin: 2rem 0;
  scroll-margin-top: 4rem;
}

h1,
h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}
