html {
  --main-color: hsl(0, 0%, 25%);
  --main-color-light: hsl(0, 0%, 45%);
  --main-color-lighter: hsl(0, 0%, 65%);
  --main-light: hsl(0, 0%, 85%);
  --link-color: var(--main-color);
  --link-light-color: var(--main-color-light);
  --content-width: 490px;
  scroll-behavior: smooth;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--main-color);
  font-size: 16px;
}
header {
  padding: 4rem 1rem 0;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}
header ul {
  display: flex;
  max-width: var(--content-width);
  justify-content: center;
  margin: 0.5rem auto 2.5rem;
  font-size: 0.85rem;
  z-index: 0;
}
header ul li {
  margin: 0 1rem;
}
@keyframes appear {
  75% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
.icon {
  width: 1rem;
  height: 1rem;
  fill: var(--main-color-light);
  transform: translateY(-24px);
  animation: appear 0.25s ease-in forwards;
  transition: all 0.5s;
}
.icon:hover {
  fill: var(--main-color-lighter);
}
.icon.email {
  animation-delay: 0.2s;
}
.icon.github {
  animation-delay: 0.4s;
}
.icon.linkedin {
  animation-delay: 0.6s;
}
.icon.twitter {
  animation-delay: 0.8s;
}
nav {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  position: sticky;
  position: --webkit-sticky;
  top: 0;
  background: white;
  z-index: 1;
  padding: 1.5rem 0;
}
nav a,
h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--link-lighter-color);
  text-decoration: none;
}
nav a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: var(--link-light-color);
  text-decoration: none;
}
nav a {
  margin: 0 0.5rem;
}
h1 {
  max-width: var(--content-width);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  padding-left: 0.5rem;
  margin: 2rem auto 0.25rem;
  background-color: white;
  position: relative;
  border-bottom: 1px solid var(--main-color-lighter);
  z-index: 1;
}
h2 {
  margin: 4rem 0;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}
h3 {
  font-family: "IBM Plex Mono", monospace;
}
h3 a {
  color: var(--main-color);
  text-decoration: none;
}
section {
  padding-top: 1rem;
}
section,
footer {
  max-width: var(--content-width);
  padding: 2rem 1rem;
  margin: 0 auto;
}
footer {
  padding-top: 2rem;
  font-size: 0.75rem;
  text-align: center;
  color: var(--main-color-light);
}
a {
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.75;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#projects {
  max-width: calc(var(--content-width) * 2);
}
.project {
  margin: 4rem 0;
  border-radius: 4px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
}

.project-header,
.project-footer {
  padding: 1rem;
}
.project-header {
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.project-header ul {
  justify-content: center;
}
.project h3 {
  margin: 0 0 0.5rem;
  font-size: 1.15rem;
  text-transform: uppercase;
}
.project-body {
  display: grid;
  overflow: hidden;
  transition: all 0.5s;
}
.project-body:hover > .project-secondary-badges > li {
  transform: translateX(0);
}
.project-secondary-badges > li:nth-of-type(2) {
  transition-delay: 0.2s;
}
.project-secondary-badges > li:nth-of-type(3) {
  transition-delay: 0.4s;
}
.project-secondary-badges > li:nth-of-type(4) {
  transition-delay: 0.6s;
}
.project-body:hover > .project-img {
  opacity: 0.5;
}
.project-secondary-badges {
  grid-area: 1 / 1;
  z-index: 1;
  align-self: end;
  padding: 1rem;
}
.project-secondary-badges > li {
  transform: translateX(-220px);
  transition: all 0.5s;
}
.project-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.project p {
  font-size: 0.85rem;
  margin: 0;
}
.project-main-badges {
  display: flex;
  flex-wrap: wrap;
}
.project ul > li {
  margin: 0 0.25rem 0 0;
  font-size: 0.85rem;
}
.project-img {
  grid-area: 1 / 1;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  display: block;
  z-index: 0;
}
#contact {
  text-align: center;
}
#contact > ul > li {
  margin-bottom: 2rem;
}
#contact > ul > li > p {
  margin-top: 0.25rem;
  font-size: 0.85rem;
  font-weight: bold;
}
#contact > p {
  margin-bottom: 2rem;
}
#contact > p:nth-child(5) {
  margin-top: 4rem;
}
#contact > div {
  margin-bottom: 4rem;
}
@media only screen and (min-width: 560px) {
  body {
    font-size: 18px;
  }
  #projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 2rem;
  }
  .project {
    margin: 0;
  }
}
